<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ADMIN">
	
	<resultMap type="map" id="productdata">
		<result column="rnum" property="rnum"/>
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="company" property="company"/>
		<result column="price" property="price"/>
		<result column="describe" property="describe"/>
		<result column="dates" property="dates"/>
		<result column="stock" property="stock"/>
		<result column="sell" property="sell"/>
	</resultMap>

	<resultMap type="map" id="statusdata">
		<result column="rnum" property="rnum"/>
		<result column="no" property="op_no"/>
		<result column="code" property="code"/>
		<result column="amount" property="amount"/>
		<result column="status" property="status"/>
		<result column="name" property="name"/>
		<result column="id" property="id"/>
		<result column="dates" property="dates"/>
		<result column="orders_no" property="o_no"/>
		<result column="reason" property="reason"/>
	</resultMap>
	
	<resultMap type="map" id="filedata">
		<result column="no" property="no" />
		<result column="type" property="type" />
		<result column="ref" property="ref" />
		<result column="path" property="path" />
		<result column="origin" property="origin" />
		<result column="renamed" property="renamed" />
		<result column="ext" property="ext" />
		<result column="sizes" property="sizes" />
		<result column="thumbnail" property="thumbnail" />
	</resultMap>
	
	<resultMap type="map" id="memberdata">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="nick" property="nick" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="training" property="training" />
		<result column="shopping" property="shopping" />
		<result column="point" property="point" />
		<result column="coin" property="coin" />
		<result column="dates" property="dates" />
		<result column="report" property="report" />
	</resultMap>
	
	
	<resultMap type="map" id="orders">
		<result column="no" property="no" />
		<result column="type" property="type" />
		<result column="dates" property="dates" />
		<result column="muid" property="muid" />
		<result column="id" property="id" />
		<result column="to_name" property="to_name" />
		<result column="to_tel" property="to_tel" />
		<result column="to_addr" property="to_addr" />
		<result column="to_post" property="to_post" />
	</resultMap>

	<resultMap type="map" id="sales">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="price" property="price" />
		<result column="amount" property="amount" />
		<result column="point" property="point" />
		<result column="cash" property="cash" />
		<result column="total" property="total" />
		<result column="chardate" property="chardate" />
		<result column="total_amount" property="ta" />
		<result column="total_point" property="tp" />
		<result column="total_cash" property="tc" />
		<result column="total_sum" property="ts" />
	</resultMap>
	
	<resultMap type="map" id="reportdata">
		<result column="title" property="title" />
		<result column="id" property="id" />
		<result column="ref" property="ref" />
		<result column="reason" property="reason" />
		<result column="detail" property="detail" />
		<result column="manage" property="manage" />
		<result column="days" property="days" />
		<result column="note" property="note" />
		<result column="dates" property="dates" />
		<result column="target" property="target" />
	</resultMap>
	
	<!-- 상품 조회 -->
		
	<select id="selectProductCntOfSearchType1" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
		WHERE CODE LIKE '%' ||  #{data} || '%'
	</select>
	
	<select id="selectProductListOfSearchType1" resultMap="productdata">
		SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM(
		SELECT * FROM PRODUCT WHERE CODE LIKE '%' ||  #{search.data} || '%' )P order by substr(code, 2) desc
		)WHERE RNUM BETWEEN #{paging.start} and #{paging.end}
	</select>
	
	<select id="selectProductCntOfSearchType2" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
		WHERE NAME LIKE '%' ||  #{data} || '%'
	</select>
	
	<select id="selectProductListOfSearchType2" resultMap="productdata">
		SELECT * FROM (SELECT ROWNUM RNUM, P.* FROM(
		SELECT * FROM PRODUCT WHERE NAME LIKE '%' ||  #{search.data} || '%' )P order by substr(code, 2) desc
		)WHERE RNUM BETWEEN #{paging.start} and #{paging.end}
	</select>
	
	<select id="selectProductCnt" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
	</select>
	
	<select id="selectProductList" resultMap="productdata">
		select * from ( select rownum rnum, p.* from(
            select * from product order by substr(code, 2) desc) p		
		)where rnum between #{start} and #{end}
	</select>
	
	<!-- 상품 조회 끝 -->
	
	
	
	
	<!-- 재고 상세 -->
	
	<select id="selectStockDetail" resultMap="productdata">
		SELECT * FROM PRODUCT 
		WHERE CODE = #{code}
	</select>
	
	<!-- 재고 업데이트 -->
	
	<update id="modifyStockData">
		UPDATE PRODUCT SET STOCK = #{stock}, SELL = #{sell} 
		WHERE CODE = #{code}
	</update>
	
	
	
	
	<!-- 배송 상태 조회 -->
	
	
	<!-- 1-1. 코드로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType1" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.CODE LIKE '%' || #{data} || '%' )A )
	</select>
	
	<!-- 1-2. 코드로 검색 : 페이징 적용 -->	
	<select id="selectStatusListOfSearchType1" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.CODE LIKE '%' || #{search.data} || '%' )A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<!-- 1-3. 코드와 날짜로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType1WithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.CODE LIKE '%' || #{data} || '%' 
		AND O.DATES BETWEEN to_date(#{fromdate}, 'yyyy-mm-dd') AND to_date(#{todate}, 'yyyy-mm-dd')+0.99999)A )
	</select>
	
	<!-- 1-4. 코드와 날짜로 검색 : 페이징 적용 -->
	<select id="selectStatusListOfSearchType1WithDate" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.CODE LIKE '%' || #{search.data} || '%' 
		AND O.DATES BETWEEN to_date(#{search.fromdate}, 'yyyy-mm-dd') AND to_date(#{search.todate}, 'yyyy-mm-dd')+0.99999)A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<!-- 2-1. 상품명으로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType2" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND P.NAME LIKE '%' || #{data} || '%' )A )
	</select>
	
	<!-- 2-2. 상품명으로 검색 : 페이징 적용 -->
	<select id="selectStatusListOfSearchType2" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND P.NAME LIKE '%' || #{search.data} || '%' )A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<!-- 2-3. 상품명과 날짜로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType2WithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND P.NAME LIKE '%' || #{data} || '%' 
		AND O.DATES BETWEEN to_date(#{fromdate}, 'yyyy-mm-dd') AND to_date(#{todate}, 'yyyy-mm-dd')+0.99999)A )
	</select>
	
	<!-- 2-4. 상품명과 날짜로 검색 : 페이징 적용 -->
	<select id="selectStatusListOfSearchType2WithDate" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND P.NAME LIKE '%' || #{search.data} || '%' 
		AND O.DATES BETWEEN to_date(#{search.fromdate}, 'yyyy-mm-dd') AND to_date(#{search.todate}, 'yyyy-mm-dd')+0.99999)A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<!-- 3-1. 배송상태로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType3" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.STATUS = #{data} )A )
	</select>
	
	<!-- 3-2. 배송상태로 검색 : 페이징 적용 -->
	<select id="selectStatusListOfSearchType3" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.STATUS = #{search.data} )A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}	
	</select>
	
	<!-- 3-3. 배송상태와 날짜로 검색 : 전체 목록 개수 -->
	<select id="selectStatusCntOfSearchType3WithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO,  R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.STATUS = #{data} 
		AND O.DATES BETWEEN to_date(#{fromdate}, 'yyyy-mm-dd') AND to_date(#{todate}, 'yyyy-mm-dd')+0.99999)A )	
	</select>
	
	<!-- 3-4. 배송상태와 날짜로 검색 : 페이징 적용 -->
	<select id="selectStatusListOfSearchType3WithDate" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND OP.STATUS = #{search.data}
		AND O.DATES BETWEEN to_date(#{search.fromdate}, 'yyyy-mm-dd') AND to_date(#{search.todate}, 'yyyy-mm-dd')+0.99999)A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<!-- 4-1. 날짜로만 검색 : 전체 목록 개수  -->
	<select id="selectStatusCntWithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) 
		AND O.DATES BETWEEN to_date(#{fromdate}, 'yyyy-mm-dd') AND to_date(#{todate}, 'yyyy-mm-dd')+0.99999 )A )
	</select>
	
	<!-- 4-2. 날짜로만 검색 : 페이징 적용 -->
	<select id="selectStatusListWithDate" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+)
		AND O.DATES BETWEEN to_date(#{search.fromdate}, 'yyyy-mm-dd') AND to_date(#{search.todate}, 'yyyy-mm-dd')+0.99999)A )
		WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}	
	</select>
	
	<!-- 5-1. 일반 조회 : 전체 목록 개수 -->
	<select id="selectStatusCnt" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) ) A )
	</select>

	<!-- 5-2. 일반 조회 : 페이징 -->
	<select id="selectStatusList" resultMap="statusdata">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT OP.NO, OP.CODE, OP.AMOUNT, OP.STATUS, P.NAME, O.ID, O.DATES, OP.ORDERS_NO, R.REASON   
		FROM ORDER_PRODUCT OP, PRODUCT P, ORDERS O, RETURN R
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.NO = R.OP_NO(+) ) A )
		WHERE RNUM BETWEEN #{start} AND #{end}	
	</select>
	
	
	<!-- 배송 상태 조회 끝 -->


	
	
	<!-- 주문 내역 상세 -->
	<select id="selectOrdersDetail" resultMap="orders">
		SELECT * FROM ORDERS
		WHERE NO = #{o_no}
	</select>
	
	
	
	
	
	<!-- 상품 등록 , 상세 , 수정 관련 -->
	   
	   <!-- product의 code를 rename하는 쿼리 -->
	   <select id="renameCode" resultType="String">
			select to_char( product_seq.nextval) from dual
	   </select>
	   
	   <!-- 상품등록을 하는 쿼리 -->
	   <insert id="insertProduct">
			insert into product(code, name, company, price, describe, dates, stock)
			values(#{code},#{name},#{company},#{price},#{describe},#{dates},#{stock})  
	   </insert>
	   
	   
	   <!-- 상품 파일-이미지를 디비에 저장 -->
	   <insert id="insertProductImage">
	   		INSERT INTO FILES ( NO, TYPE, REF, PATH, ORIGIN, RENAMED, EXT, SIZES, THUMBNAIL )
			VALUES ( FILES_SEQ.NEXTVAL, 2, #{ref}, 'upload_product', #{origin}, #{rename}, #{ext}, #{sizes}, #{thumbnail} )
	   </insert>
	   
	   <!-- 상품 상세 정보 -->
	   <select id="selectProductDetail" resultMap="productdata">
	   		SELECT * FROM PRODUCT WHERE CODE = #{code}
	   </select>
	   
	   <!-- 상품 이미지 정보 (상세) -->
	   <select id="selectFilesOfProduct" resultMap="filedata">
	   		SELECT * FROM FILES 
	   		WHERE REF = #{code} AND THUMBNAIL = '0'
	   </select>
	   
	   <!-- 상품 이미지 정보 (썸네일) -->
		<select id="selectThumbFilesOfProduct" resultMap="filedata">
			SELECT * FROM FILES 
			WHERE REF = #{code} AND THUMBNAIL = '1'
		</select>
		
		<!-- 상품 이미지 삭제를 위한 정보 -->
		<select id="selectFileWifhFileNo" resultMap="filedata">
			SELECT * FROM FILES WHERE NO = #{no}
		</select>
 		
		<!-- 상품 이미지 삭제 -->
		<delete id="deleteFile">
			DELETE FILES WHERE NO = #{no}
		</delete>
		
		<!-- 상품 정보 수정 -->
		<update id="updateProductData">
			UPDATE PRODUCT
			SET NAME = #{name}, DESCRIBE = #{describe}, PRICE = #{price}, COMPANY = #{company}, DATES = #{dates}
			WHERE CODE = #{code}
		</update>
		
		
		
		
	<!-- 회원관리 -->
	<select id="selectMemberCnt" resultType="int">
		SELECT COUNT(*) FROM USERS
	</select>
	
	<select id="selectMemberList" resultMap="memberdata" parameterType="int">
		select *
		from
		    (select rownum rnum, M.*
		    from
		       (select
		        U.id, U.name, U.nick,
		        trunc(months_between(trunc(sysdate + (INTERVAL '9' HOUR)),U.birth)/12) as age,
		        U.gender,
		        nvl((select count(*) from record R where R.id=U.id group by id), 0) as training,
		        nvl((select sum(amount) from orders O, order_product OP where O.no=OP.orders_no and O.id=U.id group by id), 0) as shopping,
		        nvl(pc.point, 0) as point,
		        nvl(pc.coin, 0) as coin,
		        U.dates, U.report
		        from users U, point_coin PC where U.id=PC.id order by U.dates desc ) M
			)
		where rnum between #{start} and #{end}
	</select>
	
	<select id="selectMemberCntOfSearchType1" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE ID LIKE '%' ||  #{data} || '%'
	</select>
	
	<select id="selectMemberCntOfSearchType2" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE NAME LIKE '%' ||  #{data} || '%'
	</select>
	
	<select id="selectMemberListBySearchDataType1" resultMap="memberdata">
		select *
		from
		    (select rownum rnum, M.*
		    from
		       (select
		        U.id, U.name, U.nick,
		        trunc(months_between(trunc(sysdate + (INTERVAL '9' HOUR)),U.birth)/12) as age,
		        U.gender,
		        nvl((select count(*) from record R where R.id=U.id group by id), 0) as training,
		        nvl((select sum(amount) from orders O, order_product OP where O.no=OP.orders_no and O.id=U.id group by id), 0) as shopping,
		        nvl(pc.point, 0) as point,
		        nvl(pc.coin, 0) as coin,
		        U.dates, U.report
		        from users U, point_coin PC where U.id=PC.id and U.id like '%' ||  #{search.data} || '%' order by U.dates desc ) M
			)
		where rnum between #{paging.start} and #{paging.end}
	</select>
	
	<select id="selectMemberListBySearchDataType2" resultMap="memberdata">
		select *
		from
		    (select rownum rnum, M.*
		    from
		       (select
		        U.id, U.name, U.nick,
		        trunc(months_between(trunc(sysdate + (INTERVAL '9' HOUR)),U.birth)/12) as age,
		        U.gender,
		        nvl((select count(*) from record R where R.id=U.id group by id), 0) as training,
		        nvl((select sum(amount) from orders O, order_product OP where O.no=OP.orders_no and O.id=U.id group by id), 0) as shopping,
		        nvl(pc.point, 0) as point,
		        nvl(pc.coin, 0) as coin,
		        U.dates, U.report
		        from users U, point_coin PC where U.id=PC.id and U.name like '%' ||  #{search.data} || '%' order by U.dates desc ) M
			)
		where rnum between #{paging.start} and #{paging.end}
	</select>
	
	
	
	<!-- 매출 조회 -->
	
	<select id="selectSalesCntOfSearchType1" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesListOfSearchType1" resultMap="sales">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{search.data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC )A
		) WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSalesCntOfSearchType1WithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{fromdate}, 'YY/MM/DD') AND TO_DATE(#{todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesListOfSearchType1WithDate" resultMap="sales">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE, P.NAME, P.PRICE, SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT) CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{search.data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC )A
		) WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSalesCntOfSearchType2" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE P.NAME = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesListOfSearchType2" resultMap="sales">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{search.data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC )A
		) WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSalesCntOfSearchType2WithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{fromdate}, 'YY/MM/DD') AND TO_DATE(#{todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesListOfSearchType2WithDate" resultMap="sales">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE, P.NAME, P.PRICE, SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT) CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{search.data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC )A
		) WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSalesCntWithDate" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND O.CHARDATE BETWEEN TO_DATE(#{fromdate}, 'YY/MM/DD') AND TO_DATE(#{todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesListWithDate" resultMap="sales">
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE, P.NAME, P.PRICE, SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT) CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC )A
		) WHERE RNUM BETWEEN #{paging.start} AND #{paging.end}
	</select>
	
	<select id="selectSalesCnt" resultType="int">
		SELECT COUNT(*) FROM (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC
		)
	</select>
	
	<select id="selectSalesList" resultMap="sales" >
		SELECT * FROM (
		SELECT ROWNUM RNUM, A.* FROM (
		SELECT  OP.CODE, P.NAME, P.PRICE, SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT) CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
		ORDER BY O.CHARDATE DESC)A
		) WHERE RNUM BETWEEN #{start} AND #{end}
	</select>

	
	
	<!-- 매출 조회별 합산 -->
	
	<select id="selectSalesTotal_SearchType1" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{search.data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<select id="selectSalesTotal_SearchType1WithDate" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND OP.CODE LIKE '%' || #{search.data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<select id="selectSalesTotal_SearchType2" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{search.data} || '%'
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<select id="selectSalesTotal_SearchType2WithDate" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND P.NAME LIKE '%' || #{search.data} || '%'
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<select id="selectSalesTotal_WithDate" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		AND O.CHARDATE BETWEEN TO_DATE(#{search.fromdate}, 'YY/MM/DD') AND TO_DATE(#{search.todate}, 'YY/MM/DD')+0.99999
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<select id="selectSalesTotal" resultMap="sales">
	select sum(amount) TOTAL_AMOUNT, sum(point)TOTAL_POINT, sum(cash)TOTAL_CASH, sum(total)TOTAL_SUM  from (
		SELECT  OP.CODE , P.NAME , P.PRICE , SUM(OP.AMOUNT) AMOUNT,
		SUM(OP.POINT) POINT, 
		SUM(P.PRICE*AMOUNT - OP.POINT)CASH,
		SUM(P.PRICE*AMOUNT) TOTAL, 
		O.CHARDATE
		FROM ORDER_PRODUCT OP, PRODUCT P, (SELECT TO_CHAR(DATES, 'YY/MM/DD') CHARDATE, NO FROM ORDERS) O
		WHERE OP.CODE = P.CODE
		AND OP.ORDERS_NO = O.NO
		GROUP BY OP.CODE, P.NAME , O.CHARDATE, P.PRICE
	)
	</select>
	
	<!-- 매출 조회별 합산 끝 -->
	
	
	
	<!-- 배송상태 변경  -->
	<update id="modifyStatus">
		UPDATE ORDER_PRODUCT
		SET STATUS = #{status}
		WHERE NO = #{op_no}
	</update>
	
	<!-- 신고관리 -->
	<select id="selectReportCnt" resultType="int">
		SELECT COUNT(*) FROM REPORT
	</select>
	
	<select id="selectReportList" resultMap="reportdata" parameterType="int">
		select *
		from
		    (select rownum rnum, RP.*
		    from
		       (select B.title, R.* from board B, report R where B.no = R.ref order by R.dates desc) RP
			)
		where rnum between #{start} and #{end}
	</select>
	
	<select id="selectReportDetail" resultMap="reportdata">
		SELECT * FROM REPORT 
		WHERE id = #{id} and ref = #{ref}
	</select>
	
	<update id="modifyReportData">
		UPDATE REPORT SET manage = 1, days = #{days}, note = #{note} 
		WHERE id = #{id} and ref = #{ref}
	</update>
	
</mapper>