<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Event">

<!-- 	<resultMap type="map" id="Event"> -->
<!-- 		<id column="id" property="id" /> -->
<!-- 		<result column="date" property="dateq" /> -->
<!-- 		<result column="type" property="type" /> -->
<!-- 	</resultMap> -->
	
<!-- 	<resultMap type="map" id="Initial"> -->
<!-- 		<id column="code" property="code" /> -->
<!-- 		<result column="initial" property="initial" /> -->
<!-- 	</resultMap> -->
	

<!-- 	<insert id="insertMatch2"> -->
<!-- 		INSERT INTO TB_SCORE2 -->
<!-- 		VALUES (#{rank}, #{teamName}, #{match}, #{win}, #{loose}, #{tie}, #{rate}, sysdate) -->
<!-- 	</insert> -->

</mapper>