<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="Event">
	
	<resultMap type="map" id="pointcoin">
		<result column="point" property="point"/>
		<result column="coin" property="coin"/>
	</resultMap>

	<resultMap type="map" id="quiz">
		<result column="code" property="code"/>
		<result column="name" property="name"/>
		<result column="ini" property="ini"/>
		<result column="describe" property="describe"/>
	</resultMap>
	
	<resultMap type="map" id="exerRecord">
		<result column="name" property="name"/>
		<result column="id" property="id"/>
		<result column="record" property="record"/>
		<result column="rk" property="rank"/>
	</resultMap>
	
	<resultMap type="map" id="dates">
		<result column="sdate" property="sdate"/>
		<result column="edate" property="edate"/>
	</resultMap>
	
	<select id="checkPC" resultMap="pointcoin">
		select nvl(point, 0) point, nvl(coin, 0) coin from point_coin where id = #{id}
	</select>
	
	<!-- 포인트 추가 -->
	<insert id="insertPoint">
		insert into compensation values (#{id}, sysdate + (INTERVAL '9' HOUR), 1, #{event}, #{inc}, 0)
	</insert>

	<!-- 코인 차감 -->
	<insert id="insertCoin">
		insert into compensation values (#{id}, sysdate + (INTERVAL '9' HOUR), 2, #{event}, 0, 1)
	</insert>

	
	<select id="selectQuiz" parameterType="int" resultMap="quiz">
		select code, name, product_initial ini, describe from ( select rownum rnum, b.* from (
    		select i.code, name, product_initial, i.describe from product_initial i, product p
    		where i.code = p.code
		) b order by rnum ) t where rnum = #{value}
	</select>
	
	<select id="checkAtt" resultType="int">
		select count(*) from compensation
		where type = 1 and event = #{event} and id = #{id}
		and to_char(dates, 'yy/mm/dd') = to_char(sysdate + (INTERVAL '9' HOUR), 'yy/mm/dd')
	</select>
	
	<select id="selectAttend" parameterType="string" resultType="map">
	 	select distinct to_char(dates, 'yyyy-mm-dd') dates from compensation
		where type = 1 and event = 1 and id = #{id}
		order by dates desc
	</select>
	
	<select id="checkWeekAttend" parameterType="string" resultType="int">
		select count(dates) from (select distinct to_char(dates, 'yy/mm/dd') dates from compensation
		where event = 1 and type = 1 and id = #{value} and
		to_char(dates, 'yy/mm/dd') between to_char(sysdate + (INTERVAL '9' HOUR) - to_char(sysdate + (INTERVAL '9' HOUR), 'D') +2, 'yy/mm/dd') 
		and to_char(sysdate + (INTERVAL '9' HOUR) - to_char(sysdate + (INTERVAL '9' HOUR), 'D') + 7, 'yy/mm/dd'))
	</select>
	
	<select id="selectRecord" resultMap="exerRecord">
		select e.name, r.id, r.record, RANK() OVER (order by r.record desc ) as rk
		from exercise e, record r where e.no = r.ex_no and 
		
		<if test="no lt 6">
			no = #{no}
		</if>
		<if test="no eq 6">
			no in (6, 7)
		</if>
		<if test="no gt 6">
			no = #{no} + 1
		</if>
		
		and
		<if test="day lte 4">
			to_char(r.dates, 'yy/mm/dd') between to_char(sysdate+ (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') -2, 'yy/mm/dd') 
			and to_char(sysdate+ (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') + 4, 'yy/mm/dd')
		</if>
		<if test="day gt 4">
			to_char(r.dates, 'yy/mm/dd') between to_char(sysdate+ (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') +5, 'yy/mm/dd') 
			and to_char(sysdate+ (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') + 11, 'yy/mm/dd')
		</if>
		
		order by r.dates
	</select>
	
	<select id="selectDates" parameterType="int" resultMap="dates">
		select
		<if test="value lte 4">
			to_char(sysdate + (INTERVAL '9' HOUR) - to_char(sysdate + (INTERVAL '9' HOUR), 'D') -2, 'yy/mm/dd') sdate
			,to_char(sysdate + (INTERVAL '9' HOUR) - to_char(sysdate + (INTERVAL '9' HOUR), 'D') + 4, 'yy/mm/dd') edate
		</if>
		<if test="value gt 4">
			to_char(sysdate + (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') +5, 'yy/mm/dd') sdate
			,to_char(sysdate+ (INTERVAL '9' HOUR) - to_char(sysdate+ (INTERVAL '9' HOUR), 'D') + 11, 'yy/mm/dd') edate
		</if>
		from dual
	</select>
</mapper>