<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EXERCISE">

	<resultMap type="map" id="Exercise">
		<id column="no" property="no" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="cal" property="cal" />
		<result column="describe" property="describe" />
		<result column="count" property="count" />
	</resultMap>
	
	<resultMap type="map" id="Grade">
		<id column="grade" property="grade" />
		<result column="var" property="var" />
	</resultMap>
	
	<resultMap type="map" id="Record">
		<id column="id" property="id" />
		<result column="dates" property="dates" />
		<result column="record" property="record" />
		<result column="ex_no" property="exNo" />
	</resultMap>
	
	<resultMap type="map" id="Compensation">
		<id column="id" property="id" />
		<result column="dates" property="dates" />
		<result column="type" property="type" />
		<result column="event" property="event" />
		<result column="inc" property="inc" />
		<result column="dec" property="dec" />
	</resultMap>
	
	<resultMap type="map" id="Goal">
		<id column="id" property="id" />
		<result column="days" property="days" />
		<result column="exercises" property="exercises" />
		<result column="grade" property="grade" />
	</resultMap>
	

	<select id="selectRoutine" resultType="String" >
		select exercises from goal
		where ID = #{id}
	</select>
	
	<select id="selectGrade" resultType="int"  >
		select grade from goal
		where ID = #{id}
	</select>
	
	<!-- 설정한 목표있는지 찾기 -->
	<select id="selectGoalInfo" resultType="int" >
		select count(*) from goal
		where ID = #{id}
	</select>
	
	<!-- 운동개수 조회 -->
	<select id="selectExerciseCount" resultType="int">
		SELECT count FROM exercise
		WHERE name = #{userExer}
	</select>

	<!-- 등급 값 조회 -->
	<select id="selectGradeValue" resultType="double">
		SELECT var FROM grade
		WHERE grade = #{userLevel}
	</select>
	
	<!-- 생년월일 조회 -->
	<select id="selectUserBirth" resultType="String" >
		SELECT to_char(birth, 'YYYYMMDD') FROM users
		WHERE name = #{name}
	</select>
	
	<!-- 만 나이 계산 -->
	<select id="selectUserAge" resultType="int" >
		SELECT TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(#{birth},'YYYYMMDD')) / 12)
		FROM users WHERE name = #{name}
	</select>
	
	<!-- 해당 운동으로 전신,상체,하체 조회하기 -->
	<select id="leftExerInfo" resultType="Exercise">
		SELECT type, name FROM exercise
		WHERE name = #{exerName}
	</select>
	
	<!-- 포인트 지급 -->
	<insert id="insertRewardPoint">
		INSERT INTO compensation(id, dates, type, inc)
		VALUES(#{userid}, sysdate, 1, #{point})
	</insert>
	
	<!-- 당일 지급받은 코인이 있는지 조회 -->
	<select id="selectUserCoinCnt" resultType="int">
		SELECT count(inc) FROM compensation
		WHERE id = #{userid}
			and type = 2
			and to_char(dates, 'YY/MM/DD') = to_char(sysdate, 'YY/MM/DD')
	</select>
	
	<!-- 당일 보유 코인 조회 -->
	<select id="selectUserCoin" resultType="int">
		SELECT sum(inc) FROM compensation
		WHERE id = #{userid}
			and type = 2
			and to_char(dates, 'YY/MM/DD') = to_char(sysdate, 'YY/MM/DD')
	</select>
	
	<!-- 코인지급 -->
	<insert id="insertRewardCoin">
		INSERT INTO compensation(id, dates, type, inc)
		VALUES(#{userid}, sysdate, 2, #{coin})
	</insert> 
	
	<!-- 운동이름으로 운동번호 조회 -->
	<select id="selectExerciseNo" resultType="int">
		SELECT no FROM exercise
		WHERE name = #{exerciseName}
	</select>
	
	<!-- 운동기록 저장 -->
	<insert id="insertEventRecord">
		INSERT INTO record(id, dates, record, ex_no)
		VALUES(#{userid}, sysdate, #{exerciseCount}, #{exerciseNo})
	</insert>
	
</mapper>