<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RECOMMEND">

	<insert id="insertBoardRecommend" parameterType="Recommend">
		insert into recommend
		values (#{id}, 1, #{ref}, #{goodBad})
	</insert>
	
	<insert id="insertCommentsRecommend" parameterType="Recommend">
		insert into recommend
		values (#{id}, 2, #{ref}, #{goodBad})
	</insert>
	
</mapper>