<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="USERS">
	
	<select id="selectUser" resultType="Users">
		SELECT * FROM USERS
		WHERE ID = #{id}
	</select>
	
	<select id="getUsersId" resultType="Users">
		SELECT * FROM USERS
		WHERE NAME = #{name} and MAIL = #{mail}
	</select>

	<select id="getUsersPw" resultType="Users">
		SELECT * FROM USERS
		WHERE NAME = #{name} and MAIL = #{mail} and ID = #{id}
	</select>
	
	<update id="updateUsersPw">
		UPDATE USERS
		SET PW = #{pw}
		WHERE ID = #{id}
	</update>
	
	<insert id="insertUser" >
		INSERT INTO USERS ( ID, PW, NAME, NICK, BIRTH, GENDER, MAIL, TEL, ADDR, POST, DATES )
		VALUES ( #{id}, #{pw}, #{name}, #{nick}, #{birth}, #{gender}, #{mail}, #{tel}, #{addr}, #{post}, sysdate + (INTERVAL '9' HOUR) )
	</insert>
	
	<insert id="insertUserProfile">
		INSERT INTO FILES ( NO, TYPE, REF, PATH, ORIGIN, RENAMED, EXT, SIZES, THUMBNAIL )
		VALUES ( FILES_SEQ.NEXTVAL, 1, #{id}, 'upload_user', #{origin}, #{rename}, #{ext}, #{sizes}, 0 )
	</insert>
	
	<insert id="insertBasicProfile">
		INSERT INTO FILES ( NO, TYPE, REF, PATH, ORIGIN, RENAMED, EXT, SIZES, THUMBNAIL )
		VALUES ( FILES_SEQ.NEXTVAL, 1, #{id}, 'upload_user', 'logo', 'logo', 'png', 1234, 0 )
	</insert>
	
	<select id="selectUserProfile" resultType="com.dht.www.mypage.model.vo.Files">
		SELECT R.* FROM
		(SELECT ROWNUM AS RN, F.* FROM FILES F WHERE REF = #{id} ORDER BY NO DESC) R
		where R.RN = 1
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE ID = #{id}
	</select>
	
	<select id="nickCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE NICK = #{nick}
	</select>
	
	<select id="mailCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE MAIL = #{mail}
	</select>
	
	<select id="selectUserByApiId" resultType="Users">
		SELECT * FROM USERS
		WHERE ID = #{apiId}
	</select>
</mapper>