<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- Snake case를 Camel case로 자동 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.dht.www.event.model.vo.Event" alias="Event" />
		<typeAlias type="com.dht.www.event.model.vo.ProductInitial" alias="ProductInitial" />
		
		<typeAlias type="com.dht.www.exercise.model.vo.Exercise" alias="Exercise" />
		<typeAlias type="com.dht.www.exercise.model.vo.Grade" alias="Grade" />
		<typeAlias type="com.dht.www.exercise.model.vo.Record" alias="Record" />
		<typeAlias type="com.dht.www.exercise.model.vo.Compensation" alias="Compensation" />
		
		<typeAlias type="com.dht.www.user.model.vo.Users" alias="Users" />
	</typeAliases>

</configuration>