@charset "UTF-8";

#sectionbody{
	width: 90%;
	margin: 0 auto;	
	display: flex;
	
}

#sidebar{
	border: 1px solid black;
	
}
#eventcontent{
	flex: auto;
	text-align: center;
/* 	min-height: 100vh; */
}
.imgnoblack{
	display : inline;
			
}

#eventname{
	
	margin: 10px 0;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 22px;
    margin-right: -50px;
    margin-top: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
    transform: rotate(45deg); /* Standard syntax */
  }
  