@charset "UTF-8";

dialog[open] {
	animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
	backdrop-filter: blur(3px);
}
 
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
